.array-container {
    position: absolute;
    left: 100px;
    right: 100px;
    top: 100px;
}

.array-bar {
    width: 2px;
    background-color: pink;
    display: inline-block;
    margin: 0 1px;
}